
body{
  background-color: rgb(151, 146, 146);
}

.container-fluid  {
  position: fixed;
  overflow-y: auto;
  height: 100%;
}

/* Login Form*/

.col-md-6 {
  white-space: nowrap;
}
@media (max-width: 767px){
  .col-md-6  {
      padding-bottom: 8%;}
}

#loginForm  {
  padding: 12% 18% 10% 12% ;
  color: white;
  font-family: 'Hind', sans-serif;
}
@media (max-width: 767px){
  #loginForm {
    padding-top: 6rem;}
}

/*style dividing border line*/
#border-line  {
  border-right-color: rgb(201, 198, 198);
  border-right-width: 1px; 
  border-right-style: solid;
}
@media (max-width: 767px){
  #border-line  {
    border-right-color: transparent;
  }
}

#customer_login label{
  display: block;
  padding-top: 3%;
}

#customer_login a{
  color: white;
}

#forgotPw:hover {
  color: rgb(238, 238, 238);
}

#create_customer label {
  display: block;
  padding-top: 3%;
}

.button--primary  {
  color: rgb(65, 63, 63);
  background-color: white;
  text-align: left;
  padding: 0.2rem 0.8rem;
  margin-top: 0.5rem;
  transition: 0.3s;
  text-align: center;
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgb(114, 111, 111);
}

.button--primary:hover  {
  background-color: rgb(151, 146, 146);
  color: white;
  border-color: white;
}

input[type="text"] {
  width: 15em;
}
input[type="email"] {
  width: 15em;
}
input[type="password"] {
  width: 15em;
}

.or {
  color: transparent;
}
@media (max-width: 767px){
  .or {
    color: rgb(201, 198, 198);
    padding-top: 20%;}
}
