
body{
  background-color: white;
}

/*Overwrites Navbar to be transparent*/
#navbar {
  background-color: transparent;
  background: transparent;
}

/*Carousel*/


.carousel-caption{
  padding-top: 70vh;
  position: sticky;
  text-align: center;
}
.carousel-caption h3{
  margin-top: -40vh;
  text-shadow: 1px 1px #464545;
  font-size: 4rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
}
.carousel-caption p{
  text-shadow: 1px 1px #464545;
  font-size: 1.3rem;
}



/* To prevent unwanted image resizing */
.carousel-item img{
  height: 100vh;
  position: fixed;
  object-fit: cover; 
}
/* Centering images for mobile */
@media (max-width: 767px){
  .carousel-item img{
    min-height: 100vh; 
    object-fit: cover;}
    #imgSlide1{object-position: 30% 0;}
    #imgSlide2{object-position: 45% 0;}
    #imgSlide3{object-position: 25% 0;}
}


@media (max-width: 767px){
  .carousel-control-next  {
    height: 87vh;
    visibility: hidden;
  }
}
@media (max-width: 767px){
  .carousel-control-prev  {
    height: 87vh;
    visibility: hidden;
  }
}
@media (max-width: 767px){
  .carousel-inner  {
    height: 50vh;
  }
}

.mobileCTA  {
  z-index: 99;
  text-align: center;
  position: relative;
  color: transparent;
  font-size: 1.3rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  padding-left:0rem;
  bottom: 22vh;
}
@media (max-width: 767px){
  .mobileCTA  {
    color: white;
    text-shadow: 1px 1px #464545;
  }
  #nav-item {
    visibility: hidden;
  }
}

/* BHP LOGO */
.BhpLogo  {
  position: absolute;
  right: 8%;
  bottom: -0.5%;
  z-index: 100;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.BhpLogo p{
  display: inline-block; 
  text-align: center; 
  color: rgba(29, 29, 29, 0.671);
}
.BhpLogo img{
  padding: 0;
  position: absolute;
  right: -40%;
  bottom: 25%;
  width: 25%;
}


